<app-sidebar>
    <div class="title-bar">
        <h1>Extrato</h1>
    </div>

    <!-- Tabela de extrato -->
    <div class="container wrap">
        <app-datepicker-popup></app-datepicker-popup>
        <table class="table">
            <thead class="tabela">
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Ultimas transações</th>
                    <th scope="col" class="moeda">R$</th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let transfs of transferencias">
                        <td>{{transfs.created_at | date: 'dd/MM/yy'}}</td>
                        <td>
                            <p class="info">
                                transferência
                                {{transfs.debito? "para:" : "de:"}}
                            </p>
                            cc: {{transfs.debito? transfs.destino.contaCorrente : transfs.origem.contaCorrente }}
                            - {{transfs.debito? transfs.destino.nome : transfs.origem.nome }}
                        </td>
                        <td class="text-right" [ngClass]="[transfs.debito ? 'transacao--negativa' : 'transacao--positiva']">{{transfs.debito? "-" : ""}} {{transfs.valor | currency: 'BRL':true}}</td>
                    </tr>
            </tbody>
        </table>
    </div>
</app-sidebar>

