<app-header></app-header>
<div class="jumbotron hero saldo">
  <h1 class="title saldo">Saldo</h1>
  <h1 class="title-extrato saldo">{{dados.correntista.saldo | currency: 'BRL':true}}</h1>
  <hr class="divider">
  <p id="conta">Ag: {{dados.correntista.agencia}} / CC: {{dados.correntista.contaCorrente}}<br>{{dados.correntista.nome}}</p>
</div>

<!--------- Tabela de extrato -->
<div class="container">
    
    <button [routerLink]="['/transferencia']" type="button" class="btnRoxo btn-submit" style="margin-bottom: 2rem;">Realizar transferência</button>

  <table class="table">
      <thead class="tabela">
          <tr>
              <th scope="col">Data</th>
              <th scope="col">Ultimas transações</th>
              <th scope="col">R$</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>21/01</td>
              <td>0123.12345-6 - Everton</td>
              <td class="transacao--negativa">R$ -350,00</td>
          </tr>
          <tr>
              <td>21/01</td>
              <td>0123.12345-6 - Vivo</td>
              <td class="transacao--positiva">R$ 100,00</td>
          </tr>
          <tr>
              <td>21/01</td>
              <td>033.0123.12345-6 - Fabiano</td>
              <td class="transacao--positiva">R$ 150,00</td>
          </tr>
      </tbody>
  </table>
</div>