<app-sidebar>
    <div class="jumbotron hero saldo">
        <h1 class="title saldo">Saldo</h1>
        <h1 class="title-extrato saldo">{{saldo | currency: 'BRL':true}}</h1>
    </div>

    <!-- Tabela de extrato -->
    <div class="container">
        <table class="table">
            <thead class="tabela">
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Ultimas transações</th>
                    <th scope="col">R$</th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let transfs of transferencias">
                        <td>{{transfs.created_at | date: 'dd/MM/yyyy'}}</td>
                        <td>
                            <p class="info">
                                transferência
                                {{transfs.debito? "para:" : "de:"}}
                            </p>
                            cc: {{transfs.debito? transfs.destino.contaCorrente : transfs.origem.contaCorrente }}
                            - {{transfs.debito? transfs.destino.nome : transfs.origem.nome }}
                        </td>
                        <td class="text-right" [ngClass]="[transfs.debito ? 'transacao--negativa' : 'transacao--positiva']">{{transfs.debito? "-" : ""}} {{transfs.valor | currency: 'BRL':true}}</td>
                    </tr>
            </tbody>
        </table>
    </div>
</app-sidebar>

