.title-extrato{
    text-align: center;
    font-size: 3em;
    font-style: normal;
}

.transacao--negativa {
    color: red;
    font-weight: 600;
}

.transacao--positiva {
    color: green;
    font-weight: 600;
}

.tabela {
    background-color: #E54A21;
    border-color: #E54A21;
    color: #fff;
}

.table th, .table td {
    vertical-align: middle;
}

@media (min-width:426px) {

}