hr.divider {
    border-top: 1px solid #fff;
    width: 15%; 
    margin: 20px auto;
}

.title-extrato{
    text-align: center;
    font-size: 3em;
    font-style: normal;
}

#conta {
    font-size: 0.9em;
    margin: 0;
}

.transacao--negativa {
    color: red;
}

.transacao--positiva {
    color: green;
}

.saldo{
    color: #E54A21;
}

.tabela{
    background-color: #E54A21;
    border-color: #E54A21;
    color: #fff;
}
.info{
    font-size: 0.8rem;
}

@media (min-width:426px) {

}