.highlight {
    background: rgba(0,0,0, 0.03)
}
.badge{
    color: #fff !important;
    cursor: pointer;
}
.loading{
    width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}