.container-fw {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/background-login.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.login-box {
    background: #fff;
    width: 85%;
    border-radius: 6px;
    z-index: 1;
}

.content {
    padding: 30px 30px;
}
  
.login-header h2 {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background: #0d0630;
    margin: 0;
    padding: 30px 40px;
    border-radius: 5px 5px 0 0;
    font-weight: normal;
}
  
/* estilo padrão para todos os buttons */
.btn {
    border: 1px solid #0d0630;
    background: transparent;
    padding: 12px;
    width: 100%;
    font-size: 1em;
    font-weight: lighter;
    text-align: center;
    border-radius: 6px;
    margin: 15px 0;
    cursor: pointer;
}

@media (min-width:425px) {
    .login-box {
        width: 350px;
    }

    .wrap {
        width: 60%;
    }
}