.modal--header h2{
    background: #0d0630;
    margin: 0;
    padding: 30px 40px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    margin-bottom: 16px;
}

.modal-body {
    padding: 0px;
}

.modal--body {
    padding: 70px 10px;
    color: navy;
    text-align: center;
    justify-content: center;
}

.testao {
    background-color: #e2e0ee;
}
.transfer {
    margin: 0px;
}
.transfer li{
    list-style: none;
    text-align: center;
}

@media (min-width:600px) {

    .btn:hover {
        background: #0d0630;
        color: #fff;
        transition: background-color 0.3s ease;
    }
}