a {
    color: #000;
    cursor: pointer;
}

.profile {
    margin: 20px 0;
}

.profile-sidebar {
    height: 134px;
    text-align: center;
    padding: 0 20px;
    background: #fafafa;
    border-bottom: 1px solid #dcdcdc;
}

.profile-userpic {
    display: block;
    margin: 0 auto;
    width: 80px;
    float: left;
    margin-right: 20px;
}

.infos-usuario {
    vertical-align: middle;
    text-align: left;
}

.infos-usuario h3 {
    font-size: 1em;
}

.infos-usuario h4 {
    font-size: 0.8em;
    margin-bottom: 0;
}

#saldo {
    text-align: center;
    margin: 30px 0;
}

#saldo h2 {
    font-weight: 600;
}

#saldo h3 {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 10px;
}