a {
    color: #fff;
}

.profile {
    margin: 20px 0;
}

.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #ab381a;
    color: #fff;
}

.profile-userpic img {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 30%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.sidebar-txt {
    text-align: center;
    margin-top: 20px;
}

.sidebar-txt h2 {
    font-weight: 600;
}

.sidebar-txt h3 {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 10px;
}

.infos-usuario h4 {
    font-size: 0.8em;
    margin-bottom: 15px;
}

.btn-sidebar {
    display: block;
    margin: 20px auto;
    width: 50%;
    padding: 10px;
    background: transparent;
    border: 1px solid #fff;
}

.btn-sidebar:hover {
    background: #ab381a;
}

.btn-sidebar h6 {
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 0;
}
