<header>
  <nav class="nav-bar">
    <div class="container">
      <ul class="nav nav-pills">
        <li>
          <app-logo></app-logo>
        </li>
        <li>Olá Felipe
          <i>
            <a class="dropdown-toggle icon-white" data-toggle="dropdown" href="#">
              <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Extrato</a>
              </li>
              <li>
                <a href="#">Transferência</a>
              </li>
              <li>
                <a href="#">Sair</a>
              </li>
            </ul>
          </i>
          <b>Menu</b>
        </li>

      </ul>
    </div>
  </nav>
</header>