form {
  margin-bottom: 36px;
}
.modal--header h2{
    background: #E54A21;
    margin: 0;
    padding: 30px 40px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    margin-bottom: 16px;
}

.modal-body {
    padding: 0px;
}

.btnLaranja.confirma {
    background: green;
    color: #fff;
}