<app-sidebar>

    <div class="jumbotron hero">
        <h1 class="title">Transferência</h1>
    </div>
    <div class="container">

        <div *ngIf="servicoTransf.fase == 0">
            <div class="text-center">
                <button class="btn btn-submit btn--expand btn-lg btnLaranja" (click)="servicoTransf.next(1)">Selecione um favorecido</button>
            </div>
            <div class="flexbox m-3">
                ou
            </div>
            <div class="text-center">
                <button class="btn btn-submit btn--expand btn-lg btnLaranja" (click)="servicoTransf.next(2)">Digite os dados da conta</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12" *ngIf="servicoTransf.fase == 1">
                <app-favorecidos></app-favorecidos>
            </div>
            <div class="col-12" *ngIf="servicoTransf.fase == 2">
                <app-outra-conta></app-outra-conta>
            </div>
            <div class="col-12" *ngIf="servicoTransf.fase == 3">
                <app-token-tranferencia></app-token-tranferencia>
            </div>
            <div class="col-12" *ngIf="servicoTransf.fase == 4">
                <app-confirmacao></app-confirmacao>
            </div>

            <div class="col-12" *ngIf="servicoTransf.fase == 20">
                <app-sucesso></app-sucesso>
            </div>
            <div class="col-12" *ngIf="servicoTransf.fase == 21">
                <app-falha-transferencia></app-falha-transferencia>
            </div>
        </div>
    </div>
</app-sidebar>