<app-header></app-header>
<div class="jumbotron hero">
    <h1 class="title">Transferência</h1>
</div>
<div class="container wrap">
    <div class="alert alert-danger" role="alert" *ngIf="!!dadosDestino && formulario.valid">
        <p>Para realizar uma transferência, preencha os campos abaixo com os dados solicitados.</p>
    </div>

    <form style="display: inherit" novalidate #formulario="ngForm" (ngSubmit)="realizaTrasnf(formulario)">
        <div class="placeholder-wrap">
            <input (change)="validaConta($event)" name="conta" type="text" class="placeholder-input" id="conta" required autocomplete="off" ngModel #inputConta="ngModel"
                #inputConta="ngModel">
            <span class="placeholder-label">seleciona a conta para transferir</span>
            <small *ngIf="!inputConta.valid && inputConta.touched" class="error-text danger">Campo Obrigatório!</small>
            <small *ngIf="contaInvalida" class="error-text danger">Conta invalida!</small>
        </div>
        <div class="placeholder-wrap">
            <input name="valor" type="number" class="placeholder-input" id="valor" required autocomplete="off" ngModel #inputValor="ngModel"
                #inputValor="ngModel">
            <span class="placeholder-label">valor a transferir (R$)</span>
            <small *ngIf="!inputValor.valid && inputValor.touched" class="error-text danger">Campo Obrigatório!</small>
        </div>
        <div class="placeholder-wrap">
            <input name="descricao" type="text" class="placeholder-input" id="descricao" required autocomplete="off" ngModel #inputDescricao="ngModel"
                #inputDescricao="ngModel">
            <span class="placeholder-label">descrição da transação</span>
            <small *ngIf="!inputDescricao.valid && inputDescricao.touched" class="error-text danger">Campo Obrigatório!</small>
        </div>
        <button type="button" (click)="validaForm()" class="btnLaranja btn-submit" data-toggle="modal" data-target="#modalTransferencia" >Realizar transferência</button>
        
        
        <div class="modal fade" id="modalTransferencia" tabindex="-1" role="dialog" *ngIf="!!dadosDestino && formulario.valid">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal--header">
                        <h2>Confirme os dados</h2>
                    </div>
                    <div class="modal-body">
                        <ul class="transfer">
                            <li>
                                <span>{{dadosUsuario.nome}}</span>
                                <br>
                                <span>Ag {{dadosUsuario.agencia}} CC {{dadosUsuario.contaCorrente}}</span>
                                <br>
                            </li>
                            <li>
                                <img width="50" src="../../../assets/img/arrow-down.svg">
                            </li>
                            <li>
                                <span>{{dadosDestino.nome}}</span>
                                <br>
                                <span>Ag {{dadosDestino.agencia}} CC {{dadosDestino.contaCorrente}}</span>
                                <br>
                            </li>
                            <li class="jumbotron transf-modal">
                                <span>{{formulario.value.descricao}}</span>
                                <br>
                                <span>{{formulario.value.valor | currency: 'BRL':true}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btnRoxo" data-toggle="modal" data-target="#sucesso" data-dismiss="modal">Confirmar transferencia</button>
                        <button type="button" class="btnRoxo" data-dismiss="modal">Cancelar transferencia</button>
                    </div>
                    <!-- Button trigger modal -->
                    <div class="modal fade" id="sucesso" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="transf-valid">
                                    <p>Transação realizada com sucesso!</p>
                                    <img width="60" src="../../../assets/img/transf-valid.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal -->
    