<app-header></app-header>
<div class="jumbotron hero">
    <h1 class="title">Transferência</h1>
</div>
<div class="container wrap">
    <div class="alert alert-danger" role="alert" *ngIf="!formularioValido">
        <p>Para realizar uma transferência, preencha os campos abaixo com os dados solicitados.</p>
    </div>


    <form style="display: inherit" novalidate #formulario="ngForm" (ngSubmit)="realizaTrasnf(formulario)">


        <button class="btn {{btnClass}}" (click)="openModal(content, $event)">Selecionar favorecido</button>

        <ng-template #content>
            <div class="modal-header">
                <h4>Favorecidos Cadastrados</h4>
            </div>
            <div class="modal-body">
                <ul class="listaFavorecidos list-group" modal-position="body">
                    <li class="favorecido list-group-item list-group-item-action" [class.active]="favorecido.destino == transferencia.destino"
                        *ngFor="let favorecido of favorecidos" (click)="selecionaFavorecido(favorecido, $event)">
                        <h5>{{favorecido.nome}}</h5>
                        <p>Ag: {{favorecido.agencia}} - Conta: {{favorecido.destino}}</p>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btnLaranja cancela" (click)="closeModal()">Cancelar</button>
            </div>
        </ng-template>



        <p>ou</p>
        <div class="card">
            <div class="card-body">

                <div class="placeholder-wrap">
                    <input name="agencia" type="text" class="placeholder-input" id="agencia" required autocomplete="off" [(ngModel)]="transferencia.agenciaFavorecido"
                        value="{{transferencia.agenciaFavorecido}}" #inputAgencia="ngModel">
                    <span class="placeholder-label">Agencia</span>
                    <small *ngIf="!inputAgencia.valid && inputAgencia.touched" class="error-text danger">Campo Obrigatório!</small>
                </div>

                <div class="placeholder-wrap">
                    <input name="destino" type="text" class="placeholder-input" id="destino" required autocomplete="off" #inputConta="ngModel"
                        [(ngModel)]="transferencia.destino" value="{{transferencia.destino}}">
                    <span class="placeholder-label">Número da Conta</span>
                    <small *ngIf="!inputConta.valid && inputConta.touched" class="error-text danger">Campo Obrigatório!</small>
                </div>


                <div class="form-check">
                    <input name="cadastrar" type="checkbox" class="form-check-input" id="cadastrar" ngModel #inputSalvarBeneficiario="ngModel"
                        [(ngModel)]="transferencia.salvarFavorecido">
                    <label class="form-check-label" for="cadastrar">
                        Cadastrar favorecido?
                    </label>
                </div>

                <div class="placeholder-wrap" [style.display]="inputSalvarBeneficiario.value ? 'block' : 'none'">
                    <input name="nome" type="text" class="placeholder-input" id="nome" [required]="inputSalvarBeneficiario.value ? true : false"
                        autocomplete="off" ngModel #inputNome="ngModel" value="{{transferencia.nome}}" [(ngModel)]="transferencia.nomeFavorecido">
                    <span class="placeholder-label">Nome do favorecido</span>
                    <small *ngIf="!inputNome.valid && inputNome.touched" class="error-text danger">Campo Obrigatório!</small>
                </div>


            </div>
        </div>

        <div class="placeholder-wrap">
            <input name="valor" type="number" class="placeholder-input" id="valor" required autocomplete="off" ngModel #inputValor="ngModel"
                #inputValor="ngModel">
            <span class="placeholder-label">valor a transferir (R$)</span>
        </div>


        <button class="btn btnLaranja btn-submit" (click)="openModal(ConfirmaDados, $event, !formulario.valid)">Realizar transferência</button>

        <ng-template #ConfirmaDados>
            <div class="modal-content" *ngIf="formulario.valid && fase == 1">
                <div class="modal--header">
                    <h2>Confirme os dados</h2>
                </div>
                <div class="modal-body">
                    <ul class="transfer">
                        <li>
                            <span>{{dadosUsuario.nome}}</span>
                            <br>
                            <span>Ag {{dadosUsuario.agencia}} CC {{dadosUsuario.contaCorrente}}</span>
                            <br>
                        </li>
                        <li>
                            <img width="50" src="../../../assets/img/arrow-down.svg">
                        </li>
                        <li>
                            <span>{{formulario.value.nome}}</span>
                            <br>
                            <span>Ag {{formulario.value.agencia}} CC {{formulario.value.destino}}</span>
                            <br>
                        </li>
                        <li class="jumbotron transf-modal">
                            <span>Valor da transferencia:</span>
                            <br>
                            <span>{{formulario.value.valor | currency: 'BRL':true}}</span>
                        </li>
                    </ul>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btnLaranja confirma" modal-position="footer" (click)="next()">Confirmar</button>
                    <button type="button" class="btnLaranja cancela" (click)="closeModal('Close click')">Cancelar</button>
                </div>
            </div>


            <div class="modal-content" *ngIf="fase == 2">
                <div class="modal--header">
                    <h2>Token de segurança</h2>
                </div>
                <div class="modal-body">
                    <div class="col">
                        <p> Digite a senha enviada</p>
                        <div class="placeholder-wrap">
                            <input name="destino" type="text" class="placeholder-input" id="destino" required autocomplete="off" #inputToken="ngModel"
                                [(ngModel)]="transferencia.token" value="{{transferencia.token}}">
                            <span class="placeholder-label">Token</span>
                            <small *ngIf="!inputToken.valid && inputToken.touched" class="error-text danger">Campo Obrigatório!</small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btnLaranja confirma" modal-position="footer" (click)="realizaTrasnf(formulario)">Confirmar transferencia</button>
                    <button type="button" class="btnLaranja cancela" (click)="prev()">voltar</button>
                </div>
            </div>

            <div class="modal-content" *ngIf="fase == 3">
                <div class="modal-body">
                    <div class="alert alert-success text-center" role="alert">
                        <p>Transação realizada com sucesso!</p>
                        <img width="60" src="../../../assets/img/transf-valid.svg">
                    </div>
                </div>
                <button type="button" class="btnLaranja cancela" (click)="prev(1)">Voltar</button>
            </div>

            <div class="modal-content" *ngIf="fase == 9">
                <div class="modal-body">
                    <div class="alert alert-danger text-center" role="alert">
                        <p>{{mensagemDeErro}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btnLaranja cancela" (click)="prev(1)">Voltar</button>
                </div>
            </div>

        </ng-template>


        <!-- Button trigger modal -->
        <div class="modal" id="sucesso" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="transf-valid">
                        <p>Transação realizada com sucesso!</p>
                        <img width="60" src="../../../assets/img/transf-valid.svg">
                    </div>
                </div>
            </div>
        </div>


    </form>

    <!-- Modal -->