.container-fw {
    width: 100vw;
    height: 100vh;
    background-image: url("../../../assets/img/background-login.png");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: #fff;
    width: 85%;
    border-radius: 6px;
    z-index: 1;
}

.content {
    padding: 30px 30px;
}

.login-header {
    color: #ffffff;
    text-align: center;
    background: #E54A21;
    margin: 0;
    padding: 20px 40px;
    border-radius: 5px 5px 0 0;
    font-weight: normal;
}

@media (min-width:425px) {
    .login-box {
        width: 350px;
    }

    .wrap {
        width: 60%;
    }
}
