
.transf-valid {
    padding: 70px 10px;
    color: #E54A21;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
}

.transfer {
    padding: 0px;
    margin: 0px;
}
.transfer li {
    list-style: none;
    text-align: center;
}

.transf-modal {
    padding: 16px 0px;
    margin: 16px 0px 0px 0px;
    line-height: 2.5rem;
}