<ul class="transfer">
    <li>
        <span style="font-weight: bold">{{dadosUsuario.nome}}</span>
        <br>
        <span>Ag {{dadosUsuario.agencia}} / CC {{dadosUsuario.contaCorrente}}</span>
        <br>
    </li>
    <li>
        <i class="fa fa-long-arrow-down m-3" aria-hidden="true"></i>
    </li>
    <li>
        <span style="font-weight: bold">{{servicoTransf.dadosTransf.nomeFavorecido}}</span>
        <br>
        <span>Ag {{servicoTransf.dadosTransf.agenciaFavorecido}} / CC {{servicoTransf.dadosTransf.destino}}</span>
        <br>
    </li>
    <li class="jumbotron transf-modal">
        <span>Valor da transferência:</span>
        <br>
        <h2><b>{{servicoTransf.dadosTransf.valor | currency: 'BRL':true}}</b></h2>
    </li>
</ul>
<div class="row mt-5">
    <button class="btn btnLaranja btn-submit" [routerLink]="['/transferencia/token']">Voltar</button>
    <button class="btn btnLaranja btn-submit" (click)="enviaDados()">Confirmar Transferência</button>
</div>