<ul class="transfer">
    <li>
        <span>{{dadosUsuario.nome}}</span>
        <br>
        <span>Ag {{dadosUsuario.agencia}} CC {{dadosUsuario.contaCorrente}}</span>
        <br>
    </li>
    <li>
        <img width="50" src="../../../assets/img/arrow-down.svg">
    </li>
    <li>
        <span>{{servicoTransf.dadosTransf.nomeFavorecido}}</span>
        <br>
        <span>Ag {{servicoTransf.dadosTransf.agenciaFavorecido}} CC {{servicoTransf.dadosTransf.destino}}</span>
        <br>
    </li>
    <li class="jumbotron transf-modal">
        <span>Valor da transferência:</span>
        <br>
        <span>{{servicoTransf.dadosTransf.valor | currency: 'BRL':true}}</span>
    </li>
</ul>
<div class="row">
    <button class="btn btnLaranja btn-submit" (click)="enviaDados()">Confirmar Transferência</button>
    <button class="btn btnLaranja btn-submit" [routerLink]="['/transferencia/token']">Voltar</button> 
</div>